@using FlightApp.Models
@model List<AdminPassengerView>

<div class="container mt-4">
    <h2>Yolcu Listesi</h2>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Cinsiyet</th>
                            <th>TC No</th>
                            <th>Doğum Tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var passenger in Model)
                        {
                            <tr>
                                <td>@passenger.PassengerId</td>
                                <td>@passenger.PassengerName</td>
                                <td>@passenger.PassengerSurname</td>
                                <td>@passenger.Gender</td>
                                <td>@passenger.MaskedTcNo</td>
                                <td>@passenger.DateOfBirth.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>